<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li>Email: <a href="mailto:bryce.frentz@gmail.com">bryce.frentz@gmail.com</a></li>
        		<li>GitHub: <a href="https://github.com/bfrentz">github.com/bfrentz</a></li>
            <li>LinkedIn: <a href="https://linkedin.com/in/bryce-frentz">Bryce Frentz</a></li>
            <li>Publications: <a href="https://scholar.google.com/citations?user=FWWacCsAAAA">Google Scholar</a></li>
          <li>Phone: (605) 940-9288</li>
			</ul>
			</footer>
		</body>
	</html>
